.priceCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;

  border-radius: 2px;
  max-width: 200px;
  margin-right: 26px;
  padding: 10px 10px 12px 10px;
}
