.Card {
  border-radius: 0.1875rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 13%);
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 400px;
  width: 285px;
  height: 165px;
  font-family: "Roboto", sans-serif;
}

.Card h4 {
  font-weight: 700;
  margin-bottom: 12px;
  margin-top: 18px;
  padding-bottom: 12px;
}
.CardWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
